body {
    background: rgb(27, 27, 27);
}

.name {
    font-size: 30px;
    text-align: center;
}

h1 {
    color: blue;
}

span {
    color: white;
}

h2 {
    color: white;
}

.mma {
    border-radius: 50%;
    clip-path: circle(60%);
    height: 200;
    width: 160;
}

a {
    color: blue;
    font-size: 30px;
}